.section-2 .block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

.section-3 td{
  border: 2px solid black;
}
.section-3 .table-1 {
  border-collapse: collapse;
}
.section-3 .table-1 thead { 
  text-align: center;
  font-weight: bold;
}
.section-3 .table-1 td { 
  height: 40px;
  width: 100px;
}
.section-3 .table-2 {
  margin-top: 10px;
  border-collapse: collapse;
}
.section-3 .table-3 {
  margin-top: 10px;
  border-collapse: collapse;
}
.section-3 .table-3 thead { 
  text-align: center;
  font-weight: bold;
}

.section-3 .table-3 td {
  text-align: center;
}
.section-3 .table-3 .col-1 {
  width: 70px;
}
.section-3 .table-3 .col-2 {
  width: 60px;
}
.section-3 .table-3 .col-3 {
  width: 250px;
}




.section-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-4 .block-1 {
  width: 15%;
  height: 30%;
  border: 1px solid black;
  white-space: normal;
}
.section-4 .block-2 {
  width: 15%;
  height: 3%;
  border: 1px solid black;
  white-space: nowrap;
}
.section-4 .block-3 {
  width: 15%;
  height: 30%;
  border: 1px solid black;
  white-space: nowrap;
  
}
.section-4 .block-4 {
  width: 15%;
  height: 30%;
  border: 1px solid black;
}
.section-4 .block-4 p {
  white-space: pre;
}
.section-4 {
  margin: 0;
  padding: 10px;
}



.section-5 {
  background: #ACA5B7;
  width:40%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  white-space: normal;
  padding: 1%;
  gap: 1%;
}
.section-5 * {
  width: 60%;
}
.section-5 .block-2  {
  display: flex;
  gap: 1%;
  height: 35%;
  width: 65%;
}
.section-5 .red-rectangle {
  background: #BF5261;
}
.section-5 p {
  height: 50px;
}
.section-5 div {
  height: 50px;
}
.section-5 span {
  display: inline-block;
  height: 50px;
  width: 150px;
}
.section-5 h3 {
  height: 50px;
}
.section-5 button {
  text-align: center;
  height: 50px;
  width: 200px;
}
.section-5 section {
  height: 50px;
  width: 150px;
}


.section-6 div p {/*1*/
  background: red;
}
.section-6 div h2 {/*2*/
  background: blue;
}
.section-6 #test p {/*3*/
  background: thistle;
}
.section-6 #test h2 {/*4*/
  background: greenyellow;
}
.section-6 *.bbb {/*5*/
  background: green;
}
.section-6 #test *.bbb {/*6*/
  background: rebeccapurple;
}
.section-6 p.bbb {/*7*/
  background: yellow;
}
.section-6 h2.bbb,.section-6 h2#test {/*8*/
  background: yellowgreen;
}
.section-6 #test p.bbb {/*9*/
  background: orange;
}
.section-6 *.bbb ,.section-6 *.xxx{/*10*/
  background: palevioletred;
}
.section-6 p.bbb,.section-6 h1.xxx {/*11*/
  background: firebrick;
}
.section-6 #test p.bbb,.section-6 #test p.xxx {/*12*/
  background: mediumaquamarine;
}
.section-6 .fff * {/*13*/
  background: wheat;
}
.section-6 .fff p {/*14*/
  background: cornflowerblue;
}
.section-6 p.fff {/*15*/
  background: aqua;
}
.section-6 .fff *.bbb {/*16*/
  background: teal;
}
.section-6 .fff h2.bbb {/*17*/
  background: purple;
}
.section-6 *[type="span"] {/*18*/
  background: violet;
}
.section-6 [data-value='45'] {/*19*/
  background: khaki;
}
.section-6 .parent .child {/*20*/
  background: olive;
}
.section-6 .text.active {/*21*/
  background: navy;
}
.section-6 #my-list ul:nth-child(2){/*22*/
  background: navajowhite;
}
.section-6 div h1 > p {/*23*/
  background: darkmagenta;
}
.section-6 div div ~ p {/*24*/
  background: brown;
}
.section-6 div:not(img) {/*25*/
  background: mediumspringgreen;
}

.section-7 .parent {
  width: 350px;
  height: 350px;
  background: #FFB3CA;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 30px;
  row-gap: 30px;
  position: relative;
}
.section-7 .parent .child {
  width: 140px;
  height: 140px;
  border: 4px solid black;
  background-color: #FF0000;
  position: static;
}
.section-7 .parent.pos-1 .child.pos-2 {
  position: absolute;
  top: 50px;
  left: 50px;
}

.section-7 .parent.pos-2 .child.pos-2 {
  position: relative;
  top: 50px;
  left: 50px;
}
.section-7 .image {
  background-image: url("./images/Rectangle 26.png");
  width: 600px;
  height: 400px;
  position: relative;
}
.section-7 .image * {
  position: absolute;
}
.section-7 .image .venus {
  top: 35%;
  left: 25%;
  width: 40%;
}
.section-7 .image .neptune {
  top: 20%;
  left: 7%;
  width: 28%;
}
.section-7 .image .uranus {
  top: 5%;
  left: 27%;
  width: 19%;
}
.section-7 .image .ufo  {
  top: 73%;
  left: 20%;
}
.section-7 .image .super-man {
  top: 75.5%;
  left: 80%;
}
.section-7 .image .potato {
  top: 20%;
  left: 71%;
  width: 12%;
}
.section-7 .image .rocket {
  top: 40%;
  left: 22%;
  width: 9%;
}

.section-8 div{
  display: flex;
  gap: 40px;
  align-items: flex-end;
}
.section-8 .block {
  margin: 30px; 
  padding: 20px; 
  width: 200px; 
  height: 200px; 
  background-color: pink; 
  border: 5px solid black;
}
.section-8 .block.pos-1 {
  box-sizing: none;
}
.section-8 .block.pos-2 {
  box-sizing: border-box;
}

.section-9 {
  width: 40%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  gap: 1.2%;
}
 .section-9 .parent {
  width: 80%;
  height: 38px;
  background: #990099;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding: 20px;
}
.section-9 .child{
  background: #F37B20;
  height: 35px;
}
.section-9 .parent:first-of-type {
  height: 140px;
  width: 74.5%;
  gap:3.7%;
  row-gap: 50px;
}

.section-9 .parent.task-2-6 {
  padding-left: 0;
  padding-right: 0;
}

.section-9 .parent .child.type-1 {
  width: 20%;
}
.section-9 .parent .child.type-2 {
  width: 10%;
}
.section-9 .parent .child.type-3 {
  width: 30%;
}
.section-9 .parent .child.type-4 {
  width: 13%;
}
.section-9 .parent.task-2-6:nth-of-type(3) {
  justify-content: flex-end;
}
.section-9 .parent.task-2-6:nth-of-type(4) {
  justify-content: center;
}
.section-9 .parent.task-2-6:nth-of-type(5) {
  justify-content: space-between;
}
.section-9 .parent.task-2-6:nth-of-type(6) {
  justify-content: space-around;
}

.section-9 .parent.task-7-10 {
  height: 200px;
  width: 230px;
  padding: 0;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.section-9 .parent.task-7-10 .child.type-1 {
  width: 30px;
  height: 40%;
}
.section-9 .parent.task-7-10 .child.type-2 {
  width: 55px;
  height: 55%;
}
.section-9 .parent.task-7-10 .child.type-3 {
  width: 55px;
  height: 25%;
}
.section-9 .parent.task-7-10 .child.type-4 {
  width: 30px;
  height: 40%;
}
.section-9 .parent.task-7-10:nth-last-of-type(2) .child {
  height: auto;
}
.section-9 .parent.task-7-10:nth-last-of-type(4) {
  align-items: flex-end;
}
.section-9 .parent.task-7-10:nth-last-of-type(3) {
  align-items: center;
}
.section-9 .parent.task-7-10:nth-last-of-type(2) {
  align-items: stretch;
}

.section-9 .parent:last-of-type {
  width: 523px;
  height: 163px;
  padding: 0;
  align-items: baseline;
  justify-content: space-between;
}
.section-9 .parent:last-of-type .child.type-1 {
  width: 20%;
  height: 80%;
  font-size: 15px;
  margin-top: 10px;
}
.section-9 .parent:last-of-type .child.type-2 {
  width: 25%;
  height: 50%;
  font-size: 10px;
  
}
.section-9 .parent:last-of-type .child.type-3 {
  width: 25%;
  height: 60%;
  font-size: 20px;
}
.section-9 .parent:last-of-type .child.type-4 {
  width: 20%;
  height: 85%;
}

.section-10 .page {
  width: 580px;
  height: 278px;
  background: #E0E0E0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2%;
}

.section-10 .header__text {
  font-size: 12px;
}
.section-10 .page__body {
  display: flex;
  width: 100%;
  height: 60%;
}
.section-10 .body__main {
  background: #FEFDE1;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.section-10 .main__additional-sections {
  width: 100%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4%;
  font-size: 12px;
  margin: 6%;
  padding-left: 9%;
}
.section-10 .main__additional-section-1 {
  background: #FDF7B4;
  width: 43%;
  height: 55%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.section-10 .main__additional-section-2 {
  background: #FDF7B4;
  width: 43%;
  height: 55%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;

} 
.section-10 .main__additional-section-3 {
  background: #FDF7B4;
  width: 90%;
  height: 55%;
  font-weight: bold;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.section-10 .body__side {
  background: #D4F8C9;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.section-10 .page__footer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  font-weight: bold;
  align-items: center;
}
.section-10 .footer__section {
  width: 20%;
  height: 85%;
  background: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
}

.section-11 .parent-1 {
  width: 500px;
  height: 250px;
  background: #AAA9B7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-11 .parent-1__child {
  width: 120px;
  height: 80px;
  background: #B76269;
}

.section-11 .parent-2 {
  width: 500px;
  height: 250px;
  background: #AAA9B7;
  position: relative;
}
.section-11 .parent-2__child {
  
  width: 120px;
  height: 80px;
  background: #B76269;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) 
}

.section-12 .background-image {
  width: 522px;
  height: 314px;
  border: 1px solid black;
  background-image: 
  url(./images/Rectangle\ 35.png),
  url(./images/Rectangle\ 35.png);
  background-repeat: no-repeat;
  background-size: 45%;
  background-position: 135% -30%, -30% 120%;
}

.section-13 {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-13 .parent {
  width: 500px;
  height: 250px;
  background: #AAA9B7;
}
.section-13 .parent__child-1, .section-13 .parent__child-2 {
  width: 120px;
  height: 80px;
  background: #B76269;
}
.section-13 .parent__child-1 {
  padding: 15px;
  padding: 15px 24px;
  padding: 15px 0 24px;
  /* padding: 1px 2px 3px 4px; */
}
.section-13 .parent__child-2 {
  margin: 4px;
  margin: 0 auto;
  margin: 15px 0 24px;
  /* margin: 1px 2px 3px 4px; */
}
.section-13 .description {
  white-space: normal;
}

.section-14 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-14 .inline-grid-container {
  width: 568px;
  height: 320px;
  background: #B0C4DE;
  display: inline-grid;
  grid-template-columns: 1fr 2fr;
}
.section-14 .inline-grid-container__page {
  display: inline-grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.section-14 .inline-grid-container__body {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
.section-14 .inline-grid-container__side-1 {
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
}
.section-14 .block {
  background: #2196F3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  color: #FAFAFA;
  font-size: 25px;
  margin: 5px;
}
.section-14 .grid-area-container {
  width: 568px;
  height: 320px;
  background: #B0C4DE;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
    'nav   header  header'
    'nav   main    aside'
    'nav   section aside'
    'nav   footer  footer';

}
.section-14 .grid-area-container__nav {
  grid-area: nav;
}
.section-14 .grid-area-container__header {
  grid-area: header;
}
.section-14 .grid-area-container__main {
  grid-area: main;
}
.section-14 .grid-area-container__section{
  grid-area: section;
}
.section-14 .grid-area-container__aside {
  grid-area: aside;
}
.section-14 .grid-area-container__footer {
  grid-area: footer;
} 


.section-15 {
  width: 640px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-15 .grid-parent {
  background: #FFAEC5;
  width: 542px;
  height: 368px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}
.section-15 .grid-parent__grid-child {
  background: #FF0D0F;
  width: 90px;
  height: 90px;
  border: 3px solid black;
}
.section-15 .grid-parent:first-of-type {
  align-items: center;
  justify-items: center;
}
.section-15 .grid-parent:nth-of-type(2) {
  align-self: center;
  justify-self: center;
}
.section-15 .grid-parent:nth-of-type(3) .grid-parent__grid-child:nth-of-type(5){
  align-self: center;
  justify-self: center;
}
.section-15 .flex-parent {
  background: #FFAEC5;
  width: 488px;
  height: 622px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.section-15 .flex-parent__flex-child {
  background: #FF0D0F;
  width: 110px;
  height: 110px;
  border: 6px solid black;
}
.section-15 .flex-parent:nth-of-type(4) {
  align-items: center;
  justify-content: center;
}
.section-15 .flex-parent:nth-of-type(5) {
  align-items: flex-end;
  justify-content: flex-end;
}
.section-15 .flex-parent:nth-of-type(6) .flex-parent__flex-child:last-of-type {
  align-self: flex-end;
  margin-left: auto;
}